@charset "UTF-8";
body, html {
  font: 14px/1.5 ,"PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
}

body, div, span, header, footer, nav, section, aside, article, ul, ol, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  min-width: 1200px;
}

/*顶部栏*/
header {
  width: 100%;
  height: 72px;
  position: relative;
  background: #06A3B1;
  /* 一些不支持背景渐变的浏览器 */
  box-shadow: 0 12px 24px 0 rgba(7, 17, 27, 0.2);
  font-size: 15px;
  -webkit-box-shadow: 10px 10px 50px 10px rgba(7, 17, 27, 0.06);
  box-shadow: 10px 10px 50px 10px rgba(7, 17, 27, 0.06);
  margin-bottom: 30px;
}

/*顶部栏logo*/
.logo {
  height: 100%;
  padding-left: 20px;
  float: left;
  margin-right: 50px;
}

.logo_img {
  width: 200px;
  height: 100%;
}

/*顶部栏导航*/
/*顶部栏导航栏子栏目*/
.nav_item {
  float: left;
}

.nav_item a {
  padding: 0 20px;
  display: block;
  color: white;
  text-align: center;
  font-size: 16px;
}

.nav_item > a {
  line-height: 72px;
  min-width: 130px;
  font-weight: bolder;
}

/*访问导航栏变色*/
a:hover {
  color: #ebaa6e;
}

/*导航栏箭头*/
.nav_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/nav_toBottom.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: -9px;
  -webkit-transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

/*导航栏让箭头旋转*/
.nav_item > a:hover .nav_icon {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
  -webkit-filter: drop-shadow(0 0 red);
  filter: drop-shadow(0 0 red);
}

/*导航栏子栏目*/
.item_content {
  display: none;
  opacity: 0;
  padding: 12px;
  position: absolute;
  background-color: #006771;
  top: 110%;
  z-index: 1000;
  -webkit-transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  margin-left: -10px;
  /*导航栏子栏目中的小箭头*/
}

.item_content::before {
  content: '';
  display: inline-block;
  border-bottom: 10px solid #006771;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.item_content a {
  margin: 12px 0;
}

/*底部栏*/
footer {
  width: 100%;
  padding: 36px 0;
  margin-top: 50px;
  background-color: #f8fafc;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(7, 17, 27, 0.06);
  box-shadow: 0 -2px 8px 0 rgba(7, 17, 27, 0.06);
}

.footer-box {
  width: 80%;
  margin: 0 auto;
}

.footer-link {
  margin-bottom: 10px;
}

.footer-link a {
  color: #99a1a6;
  margin-right: 40px;
}

.footer-link a:hover {
  color: black;
}

.footer-copyright p {
  color: #99a1a6;
  font-size: 17px;
  cursor: default;
}

.copyright-left {
  display: inline-block;
}

.copyright-right {
  display: inline-block;
  margin-left: 100px;
}
