

.detail
{
    width: 90%;
    margin: 0 auto;
    box-shadow: -5px 10px 6px 0 #B5B0B0;
    background:rgba(255, 255, 255, 0.97);
}

.top
{
    width: 60%;
    margin: 0 auto;
}
.cont
{
    float: left;
    text-align: center;
    margin: 60px 10px;
    line-height: 30px;
}

.cont::after
{
    clear: both;
    content: '';
    display: block;
}


.top img 
{
    width: 300px;
    height: 300px;

}

.name
{
    font-size: 24px;
    color: #8A7A7A;
    display: block;


}

.title
{
    
    font-size: 20px;
    color: #8A7A7A;
    display: block;
    
}

.job
{
    font-size: 16px;
    color: #8A7A7A;
    display: block;
    width: 400px;

}

.top::after
{
    content: '';
    display: block;
    border-bottom: 4px solid #D37575;
}

.main
{
    width: 60%;
    margin: 0 auto;
    line-height: 40px;
    padding: 30px 0;
}

.main p
{
    text-indent: 2em;
    font-size: 18px;
    color: #514A4A;
  
}

